# Today Topics
- Anaconda Environment Installation
- Literate Programming
- Markdown basics

## Markdown

# Heading1
## I am Heading2
### Heading3
###### heading6

#### Working with Markdown
- I am an *italic* text
- I am **bold** in this **sentence**
- I am ***bold italic***

### Literate Programming
* **Programming** along with **documentation**
    * A set of statements
    * Writing a report / Preparing a reference

##### Image display
<img src="kg.jpg">Kits Guntur</img>

### Python
- It is a general purpose high level and interpreted programming language
    - General Purpose
        - Used for many purposes such as scientific computation,web development,System software dev,mobile application development etc.
    - High Level
        - User understandable language
    - Interpreted Language
        - Gives the line by line execution
- **Need of Learning Python**
    - It is the building block of all current running technologies like Data Science,Aritificial Intelligence,Machine Learning,Robotics,IOT etc.
    
- **Features**
    - Syntax free language
    - It is Case sensitive and space sensitive language
    - Easy to Learn and Simple to Code

##### Python Programming

##### print()
- used to display the output on screen
- prints 2 types of data
- 1) message
    - the textual information
- 2) value
    - the result or value

In [7]:
# python program to display "welcome to python"
print("welcome to python")

welcome to python

In [8]:
print('welcome to python')

welcome to python

In [10]:
# write python program to print first character of your name
print("R")

R

In [11]:
print('r')

r

In [12]:
print(9+34) # addition of 2 no.s

43

In [13]:
"fghkjfrtuoiuertiutrkikjklmflkgjkjdyu6785"

'fghkjfrtuoiuertiutrkikjklmflkgjkjdyu6785'

#### 3 Errors
- An invalid statement said to be Error
- 3 types of errors
   - 1). Syntax Error
       - Error related to syntax
   - 2). Value Error &
   - 3). Indentation Error

In [14]:
print("Started with double quotes and ended with single guotes')

SyntaxError: EOL while scanning string literal (<ipython-input-14-e3b3555975e3>, line 1)

In [15]:
90+34

124

In [16]:
5+"ruthu" #

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
"ruthu"-"ch"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### variables
- It is a container to store the data/value
    - Ex:x=10

In [18]:
x=10

In [19]:
print(x) # value
print("x")

10
x

In [49]:
name="Ruthu"
print("I am ",name)
print('name')

I am  Ruthu
name

##### Variable Assignment

In [27]:
# write a python program to add 2 numbers
f=10
s=20
print("sum=",f+s)

sum= 30

In [31]:
f,s,=10,-3 #
f+s

7

In [33]:
a=10
b=10
c=10

In [38]:
x=y=z=21
print(x,y,z)

21 21 21

In [34]:
a

10

In [35]:
b

10

In [36]:
c

10

In [40]:
# python program to delcare 2 variables and perform the arithmetic op'ns
num,num2=10,20
print("sum=",num+num2)
print("difference=",num-num2)
print("product=",num*num2)
print("quotient=",20/30)
print("remainder=",10%20)

sum= 30
difference= -10
product= 200
quotient= 0.6666666666666666
remainder= 10

In [41]:
6/2

3.0

In [42]:
6%2

0

#### input reading
- input()
    - used to data from user

In [43]:
a

10

In [45]:
y

21

In [53]:
# python program to read your name from user and print it 
name=input("Enter your name:")
print(name)

Enter your name:op
op

In [54]:
name

'op'

In [55]:
name

'op'

In [56]:
name

'op'

In [52]:
name

'Ruthu'

In [57]:
9*6

54

In [58]:
4*"p" # string concatenation

'pppp'

In [59]:
10+56

66

In [60]:
"ruthu"+"ch"

'ruthuch'

In [61]:
"kkr"+"ksr"

'kkrksr'

In [62]:
num=int(input("Enter the number:"))
num

Enter the number:9

9

In [63]:
f=float(4) # conversion
f

4.0

##### Type Conversion
- Converting the type of data into another type
    - 2types
        - Implicit Conversion
            - Automatic Conversion by interpreter
        - Explicit Conversion
            - User Conversion

In [65]:
#implicit conversion
first,sec=50,45.899
print(first+sec)

95.899

In [70]:
# explicit conversion
st="78097" # str
ss=677
si=int(st) # integer
print(si+ss)

78774

In [69]:
9+"ruthu"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
type(5678654)

int

In [72]:
type("kkrkser")

str

In [73]:
type(67589.786)

float