### Today Topics
- Identifiers
- Conditionals
- Operators
- Iterating Statements
- Functions

##### Identitifer
- A name given to variable
- naming convention

In [1]:
first=10

In [4]:
first val=20

SyntaxError: invalid syntax (<ipython-input-4-1c82dab37b66>, line 1)

In [3]:
7i="ruthu"

SyntaxError: invalid syntax (<ipython-input-3-dd677ab2ab9d>, line 1)

In [5]:
first_val=20

In [6]:
first_val

20

#### conditional statements
- if
    - **syntax**
        - if condition:
            - statements goes here
- else
    - condition can ignore here
    - means if not possible,then go for else
    - **syntax**
        - else:
            - statements
- elif
    - second if condtion

In [8]:
# python program to read a number from user and print if it is even
n=int(input("Enter the number:"))
if n%2==0:
    print(n,"is even")

Enter the number:11

In [11]:
n=int(input("Enter the number:"))
if n%2==0:
    print(n,"is even")
else:print(n,"is odd")

Enter the number:3
3 is odd

In [16]:
# program to checke the larger number among three numbers
a,b,c=100,50,80
if a>b and a>c:
    print(a)
elif b>c and b>a:
    print(b)
else:
    print(c)

100

#### Nested IF
- if block within if condition
- **syntax**
    - if condition:
        - if condition:
            - statments
        - else
            - statements
    - else

In [24]:
# if x is +ve integer and multiple of 3 and 7 but not 5 
# then print yes
x=int(input())
if x>0:
    if (x%3==0 and x%7==0) and x%5!=0:
        print("mutliple of 3&7 but not 5")
    else:
        print("kkr&ksr")
elif x<0:
    print("negative integer")
else:
    print("zero")

78965
kkr&ksr

In [25]:
# check whether a year is leap or not
# all centuries are not leap years
year=int(input("Enter the year:"))
if (year%4==0 or year%400==0) and (year%100!=0):
    print("leap")
else:print("non-leap")

Enter the year:1900
non-leap

In [28]:
# check whether a year is leap or not
# all centuries are not leap years
year=int(input("Enter the year:"))
if (year%400==0) or (year%4==0 and year%100!=0):
    print("leap")
else:print("non-leap")

Enter the year:2000
leap

#### Operators
- A thing which performs an operation between operands
    - Ex:a+b:
        - a,b are operands + is the op'r performs the addition
- Types of Op'rs
    - Arithmetic Op'rs
        - +,-,*,/,**,%,//
    - Boolean
        - True/False or 0/1
    - Logical Op'rs
        - and,or,not
    - Relational/Comparisional
        - >,>=,<,<=,==,!=
    - Assignment Op'rs
        - =,+=,-=,*=,/=
    - Identity Op'rs
        - is,is not
    - Membership Op'rs
        - in, not in

In [29]:
a,b=10,10

In [30]:
a is b

True

In [31]:
a==b

True

In [32]:
id(a)

1866320160

In [33]:
id(b)

1866320160

In [34]:
c,d=20,40

In [35]:
c is d

False

In [36]:
c==d

False

In [37]:
id(c)

1866320320

In [38]:
id(d)

1866320640

In [40]:
a = "kits college"
b = "kits college"
print(id(a))
print(id(b))

9298792
9299632

In [41]:
a==b

True

In [42]:
id(a)==id(b)

False

In [44]:
"k" in "kits"

True

In [47]:
"a" in "kits"

False

In [48]:
val=20
val+=30 #val=val+30
total=val+30
print(total)
total-=3
print(total)

80
77

In [50]:
total*=3

In [51]:
total

231

#### Iterating statements
- iteration means repeation of statements
- 2 types
    - **for and while**
    - for iterator in iterable:
        - statements goes here
        - dafault incrementation
    - for it in range(len(iterable))
        - statments
    - while is a condition based iteration

In [53]:
# printing the numbers from 1 to 10
for val in range(1,10):
    print(val)

1
2
3
4
5
6
7
8
9

In [54]:

for num in range(10,50,3):
    print(num)

10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [60]:
#iterating the loop in reverse order
for num in range(50,20,-1):
    print(num,end="@")

50@49@48@47@46@45@44@43@42@41@40@39@38@37@36@35@34@33@32@31@30@29@28@27@26@25@24@23@22@21@

In [66]:
for ch in "kkr&ksr": # "a" in "kits"
    print(ch,end=",")

k,k,r,&,k,s,r,

In [68]:
clg="kkr&ksr"
for i in range(len(clg)):
    print(i,clg[i],sep=":")

0:k
1:k
2:r
3:&
4:k
5:s
6:r

In [67]:
len("ruthu")

5

In [73]:
# program to print leap years 
#present b/w 2000 to 2030
lw,up=int(input()),int(input())
for year in range(lw,up+1):
    if (year%400==0) or (year%100!=0 and year%4==0):
        print(year,end=" ")

1000
1050
1004 1008 1012 1016 1020 1024 1028 1032 1036 1040 1044 1048

In [78]:
# program to check whether the given no.is prime or not
pr=int(input())
factors=0
for num in range(1,pr+1):
    if pr%num==0:
        factors+=1
if factors==2:
    print("prime")
else:print("not prime")

9
not prime

In [75]:
# factors of a number
n=int(input("Enter the number:"))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

Enter the number:10
1 2 5 10

In [80]:
# program to check whether the given no.is prime or not
pr=int(input()) #7
count=0 #1 #2
for num in range(1,pr+1):  #2 3 4 5 6 7
    if pr%num==0:
        count+=1
if count==2:
        print("prime")
else:print("not prime")

7
prime

In [ ]:
#  print the prime no.s present in a range

#### While Loop
- It is a condition based iteration
- User incrementation
- **Syntax**
    - while condition:
        - statements goes here

In [ ]:
# print the numbers in a range using while loop
num=1
n =int(input())
while num<=n:
    print(num,end=" ")
    num+=1

In [2]:
balance = 50000
withdraw = int(input())  #10000
amount = balance - 5000  #45000
if withdraw <= amount:
    print("take the amount")
    balance = amount-withdraw
    print(balance)
else:
    print('unable to withdraw')

100000
unable to withdraw

In [ ]:
# print the numbers in a range using while loop
num=1
n =int(input()) #100
while num<=n:
    print(num,end=" ")
    num+=1

### Strings

In [ ]:
s = ""
type(s)

In [ ]:
s = "kits @ college"

s = " kits @ college" <br>
positive indexing:  " " :0, "k":1<br>
negative indexing: "e":-1, g:-2,e:-3<br>

In [ ]:
s = "kits @ college"
# for i in range(1,10)
s[3]
s[0:8]#0,1,2,3,4
s[3:10:3]#3,6,9

In [ ]:
s[-1:-8:1]
s[-8::1]
s[5:]
s[-1::-1]
s[::1]

In [ ]:
s = "dad"
if s==s[::-1]:
    print("yes")
    
s = 101
s = str(s) # "101"

if s==s[::-1]:
    print("yes")

In [ ]:
 1234567
7//2
(len(s)//2)+1
12345678
len(s)//2
(len(s)//2)+1

In [ ]:
n = "kits 893"  #123
for i in n:
    if i == "1":
        print(i)
    elif i == "2":
        print(i)
    elif i=="3":
        print(i)

In [ ]:
for i in n:  # k i t s  8 9 3
    if i.isdigit():
        print(i)

In [2]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
c = "KiTS"
c.lower()

'kits'

'kits'

In [4]:
c.casefold()

'kits'

'kits'

In [5]:
c

'KiTS'

'KiTS'

In [6]:
c.upper()

'KITS'

'KITS'

In [7]:
c.swapcase()

'kIts'

'kIts'

In [10]:
s = "KITS @ college"
for i in s:
    if i.islower():
        print(i,end = "")

collegecollege

In [11]:
s = "KITS @ college"
for i in s:
    if i.islower():
        print(i,end = "")

collegecollege

In [16]:
t = s+"10"
s
t

'KITS @ college10'

'KITS @ college10'

In [17]:
t

'KITS @ college10'

'KITS @ college10'

In [18]:
s

'KITS @ college'

'KITS @ college'

In [19]:
st=input().split() # " "
print(st)

I am from APSSDC
['I', 'am', 'from', 'APSSDC']
['I', 'am', 'from', 'APSSDC']

In [20]:
st=input().split("@") # " "
print(st)

JFHKUEI@09897@9837489@jkhf
['JFHKUEI', '09897', '9837489', 'jkhf']
['JFHKUEI', '09897', '9837489', 'jkhf']

In [21]:
for word in st:
    print(word)

JFHKUEI
09897
9837489
jkhf
JFHKUEI
09897
9837489
jkhf

In [22]:
st

['JFHKUEI', '09897', '9837489', 'jkhf']

['JFHKUEI', '09897', '9837489', 'jkhf']

In [23]:
s=input()
print(s)

78uiiouo
78uiiouo
78uiiouo

In [25]:
s.isdigit()

False

False

In [26]:
s.isalpha()

False

False

In [27]:
s

'78uiiouo'

'78uiiouo'

In [30]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
s.isalnum()

True

True

In [32]:
s.islower()

True

True

In [41]:
name

'kkr&KSR'

In [42]:
name.swapcase()

'KKR&ksr'

In [43]:
name.startswith("r")

False

In [46]:
name.endswith("R")

True

In [45]:
name

'kkr&KSR'

In [47]:
name.count("k")

2

In [48]:
name.count("K")

1

In [49]:
name.replace("kkr",'new')

'new&KSR'

In [51]:
# read a charcter from the user
# and check whether it is vowel or not
ch=input()
if ch=="a" or ch=="e" or ch=="o" or ch=="i" or ch=="u" or ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U":
    print("vowel")
else:print("consonant")

y
consonant

In [53]:
vowels="aeiouAEIOU"
char=input()
if char in vowels:
    print("vowel")
else:print("consonant")

E
vowel